# Ignore Java Project Directories
.clover/
.gradle/
.idea/
.idea_modules/
.mtj.tmp/
.settings/
.tmp/
bin/
build/
dist/
gen/
out/
target/
tmp/

# Ignore Java Project Files
*.class
*.ear
*.iml
*.ipr
*.iws
#*.jar
*.jks
*.nar
*.sln.iml
*.swp
*.war
*~.nib
.classpath
.factorypath
.gradletasknamecache
.loadpath
.metadata
.project
.recommenders
gradle-app.setting
hs_err_pid*
local.properties

# Ignore Editor Files
*.stTheme.cache
*.sublime-workspace
*.tmlanguage.cache
*.tmPreferences.cache
.vs/
.vscode/

# Ignore OS Files & Misc
$RECYCLE.BIN/
*.bak
*.pid
*.pid.lock
*.seed
*.tmp
._*
.DS_Store
.nfs*
.Spotlight-V100
.Trash-*
.Trashes
Desktop.ini
ehthumbs.db
pids
Thumbs.db

# Ignore Log Files
*.l1
*.l2
*.l3
*.l999
*.log
